.navbar-nav .nav-link {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #FF5400; /* Color del subrayado */
  transition: width 0.3s ease;
  transform: translateY(3px);
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
  left: 0;
  background: #FF5400;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  background-color: #25d366;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.whatsapp-float img {
  width: 40px;
  height: 40px;
}

.footer {
  background-image: url('../assets/fondo2.png');
  color: #fff;
  padding: 40px 20px 20px;
  font-family: Arial, sans-serif;
}

.footer-columns {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 160px;
}

.footer-col {
  flex: 1;
  min-width: 180px;
}

.footer-map {
  flex: 1;
  min-width: 280px;
  max-width: 350px;
}

.footer h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer a {
  color: #ccc;
  text-decoration: none;
  display: block;
  margin: 5px 0;
}

.footer a:hover {
  color: #fff;
}

.footer-map iframe {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 8px;
}

.footer-bottom {
  text-align: center;
  color: #888;
  font-size: 14px;
  margin-top: 30px;
}
