<div class="container text-center mt-5">
    <h1 class="display-4 font-weight-bold text-primary">Bienvenido a Mi Banco</h1>
    <p class="lead text-muted">Gestione su dinero de manera segura y eficiente. Siempre con usted.</p>
    <div class="mt-4">
      <a class="btn btn-primary btn-lg" routerLink="/servicios">Ver nuestros Servicios</a>
      <a class="btn btn-outline-success btn-lg ml-3" routerLink="/online">Acceder a Banca en Línea</a>
    </div>
    <div class="mt-5">
      <h3>Promociones del Mes</h3>
      <div class="row mt-4">
        <div class="col-md-4">
          <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Promoción 1">
            <div class="card-body">
              <h5 class="card-title">Promoción en Créditos Personales</h5>
              <p class="card-text">Tasas de interés más bajas. ¡Solicita ahora!</p>
              <a href="#" class="btn btn-info">Ver más</a>
            </div>
          </div>
        </div>
        <!-- Agrega más promociones aquí -->
      </div>
    </div>
  </div>
  