.container {
    background-color: #f4f7f6;
    border-radius: 8px;
    padding: 40px;
  }
  
  h1, h3 {
    font-family: 'Arial', sans-serif;
  }
  
  .card {
    border-radius: 8px;
  }
  
  .card-body {
    background-color: #fff;
  }
  